body{
    position: initial;
    overflow-x: hidden;
}
.background_img{
    z-index: -1;
    position: fixed;
    border-radius: 1vw;
}

header {
    background-color: #8d4574;
    position: relative;
    width: 100%;
    opacity: 100%;
    transition: all 1s;
    border-radius: 1vw;
}
.header_div{
    border: solid 0.13vw #000000;
    border-radius: 1vw;
    box-shadow: 0 0 2vw rgb(0, 0, 0);
    
}

header img {
    transition: left 1s ease;
    position: relative;
    max-width: 15vw;
    padding-left: 10vw;
    transition: all 1s;

}
header h1{
    font-size: 4.5vw;
    top: 5vw;
    left: 50vw;
    transition: all 1s;
    position: absolute;
    outline: 0.2vw solid rgba(255, 255, 255, 0.2);
    border-radius: 2VW;
    background: linear-gradient(to right, #ffffff, #ff00aa);
    text-shadow: 0.2vw 0.3vw 0 rgb(0, 0, 0, 0.15);
    box-shadow: 0.3vw 0.4vw 0 rgba(141, 65, 137, 0.514);
    background-clip: text;
    color: transparent;
    font-family: 'Brush Script MT', cursive;
    cursor: default;
}


.menu_e_botao{
    z-index: 1000;
}
.botaoMenu {/*Menu*/
    position: fixed;
    top: 0.5vw;
    width: 4vw;
    box-shadow: 0 0 5vw rgb(0, 0, 0);
    background-color: #ffffff3a;
    border: solid 0.12vw #3f3f3f;
    border-radius: 1vw;
    cursor: pointer;
    transition: left 0.3s ease;
    box-shadow: 0 0 0.4vw rgb(0, 0, 0);
}
.botaoImg{
    width: 2.5vw;
}
.botaoMenu :hover {
    transform: scale(1.05);
}

.painel_body {
    position: fixed;
    
    box-shadow: 0 0 0.5vw rgb(0, 0, 0);
    top: 0%;
    left: -20vw;
    width: 20vw;
    height: 100%;
    background-color: rgba(128, 50, 128, 0.65);
    transition: left 0.3s ease;
    overflow: hidden;
    box-sizing: border-box;
    border: solid 0.1vw rgba(0, 0, 0, 0.5);
    border-radius: 1vw;
    z-index: 1;
}
nav a {
    color: #acacac;
    font-weight: bold;
    font-size: 20px;
    text-decoration: solid;
    border-radius: 1vw;
    padding: 0 1vw;
    transition: all 0.8s;
}
nav a:hover {
    border: solid 0.1vw #00000000;
    border-radius: 1vw;
    background-color: #00000060;
    padding: 0.2vw 0.6vw;
    color: #ffffff;
    /* text-decoration: underline; */
    
    font-size: 22px;
    transition: all 0.5s;
    
}
nav a:not(:hover)
{
    transition: all 0.8s;
}

.h2_div{
    padding: 25px;
}
.titulo_menu{
    text-shadow: 0.15vw 0.15vw 0 rgba(0, 0, 0, 0.5);
    box-shadow: 1px 0px 8px rgb(0, 0, 0);
    font-family: cursive;
    background-color: #ffffff2a;
    border: solid 0.1vw #00000000;
    border-radius: 1.2vw;
    color: #ffffff;
    margin-left: 5vw;
    padding: 1vw;
    font-size: 0.9em;
    cursor:default;
}
.div_li{
    margin: 0 1.5vw;
    text-shadow: 0.15vw 0.15vw 0 rgba(0, 0, 0, 0.5);
    padding-left: 3.5vw;
    background-color: #ffffff2a;
    border-radius: 1.2vw;
    box-shadow: 1px 0px 8px rgb(0, 0, 0);
}
ul li{
    font-family: cursive;
    text-align: center;
    padding: 1.5vw;
}

/* /Menu*/



.h3_carrossel_div{
    text-shadow: 0.15vw 0.15vw 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    
    margin: 5vw auto;

    font-family: cursive;
    font-weight: bolder;
    font-size: 1.4vw;
    padding-top: 1vw;
    margin-bottom: 5vw;
    background-color: #2b2b2b94;
    border: solid 0.13vw #000000;
    border-bottom-left-radius: 0.5vw; 
    border-bottom-right-radius: 0.5vw; 
    
    
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    
    box-shadow: 0 0 1vw rgb(0, 0, 0);
    
    z-index: -1;
    max-width: 40%;
    height: auto;
    color: rgb(200, 200, 200);
}
.h3_text{
    padding-bottom: 15px;
    cursor: default;
}

.carrossel_div {
    border-radius: 10vw;
    border-top: solid 0.12vw #000000;
    position: relative;
    width: auto;
    text-align: center;
    overflow: hidden;
    border-radius: 1vw; 
    
}
a img{
    width: 39.59vw;
}
.carrossel {
    display: flex;
    transition: transform 0.5s ease;
}
.carrossel :hover{
    transform: scale(1.02);
    transition: all 0.5s;
}
.carrossel :not(:hover){
    transition: all 0.6s;
}

.botao {
    position: absolute;
    
    top: 50%;
    background-color: #8d457480;
    color: #ffffff80;
    border: none;
    padding: 1.2vw;
    cursor: pointer;
    border-radius: 100vw;
    outline: solid 0.1vw #000000;
    font-size: 2.5vw;
}
.botao:hover{
    transition: all 0.5s;
    transform: scale(1.05);
}
.botao:not(:hover){
    transition: all 0.5s;
}
.botao-esquerda {
    left: -5px;
    box-shadow: 1px 0px 8px rgb(0, 0, 0);
}

.botao-direita {
    right: -5px;
    box-shadow: -1px 0px 8px rgb(0, 0, 0);
    
}


.container {
    background-color: #000000;
    overflow: hidden;
    margin: 0 auto;
    width: 100vw;
}

.keyword {
    position: fixed;
    font-size: 1.5vw;
    color: #000000;
    font-weight: bold;
    z-index: -1;
}

.texto_div{
    background-color: #8d4574;
    border: solid 0.12vw #000000;
    border-radius: 1vw;
    box-shadow: 0 0 2vw rgb(0, 0, 0);
    color: #acacac;
    margin: 0 0 5vw;
    padding: 2.5vw ;

    text-shadow: 0.15vw 0.15vw 0 rgba(0, 0, 0, 0.5);
    display: flex;
    
    font-family: cursive;
    font-weight: bolder;
    font-size: 1.2vw;
    z-index: -1;
}
.imgGrupo_div{
    display: flex;
    width: 50%;
    margin: 0 auto 10vw;
}
.imgGrupo_div img{
    border-radius: 2vw;
    border: solid 0.1vw #000000;
    box-shadow: 0 0 2vw rgb(0, 0, 0);
}
footer{
    text-align: center;
    background-color: #8d4574;
    border-radius: 1vw;
    box-shadow: 0 0 2vw rgb(0, 0, 0);
}
.footer_div{
    border: solid 0.13vw #000000;
    left: 15vw;border-radius: 1vw;
}
.footer_logo{
    position: relative;
    transition: all 1s;
}
footer p{
    color: #ffffff;
    font-size: 1vw;
    cursor: default;
    bottom: 0;
}
